/* Animation for headings primary */
.primary-heading {
    animation-name: headingPrimaryAnimation;
    animation-duration: 2s;
    transition: all .2s;
}

.playBtn {
    animation: playBtnAnim 2s  .5s;
}

.quote-card {
    animation: dropCard 1.5s;
}

.form-actual {
    animation: formAnim 1s;
}

#speech-recognition:hover {
    animation: pulseMic 1s infinite;
}

@keyframes formAnim {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    30% {
        opacity: 0.5;
    }
    80% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes playBtnAnim {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes presentationVideoAnim {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    30% {
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes headingPrimaryAnimation {
    0% {
        transform: scale(1.4);
        transform: translate(-100px);
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes dropCard {
    0% {
        opacity: 0;
        transform: translate(-900px);

    }
    100% {
        top:90%;
        opacity: 1;
    }
}

@keyframes pulseMic {
    0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}