body {
    position: relative;
    z-index: 2;
}


body:after
{
    content: "";
    background-image: url('fundal.jpeg');
    opacity: 0.5;
    top:0;
    left:0;
    bottom:0;
    right:0;
    position: absolute;
    z-index: -1;
}

@media all and (max-width: 890px) {


  .menu-item {
      font-size: 12px;
      margin: 5px 5px;
  }

  .introduction
  {
    width: 650;
  }

  .value
  {
    width: 650;
  }

  .center-img
  {
    width: 650;
  }

  .container
  {
    width: 650;
  }

  .control{
    width: 650;
  }
    
 #Canvas
 {
   width: 600;
 }


}

/* Mobile media queries for navbar */

@media all and (max-width: 650px) {

  .navbar {
      flex-direction: column;
  }

  .navbar li {
      margin: 0 auto;
  }

  .menu {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .menu-item:hover {
      transform: none;
  }

  .introduction
  {
    width: 400;
  }

  .value
  {
    width: 400;
  }
  .center-img
  {
    width: 400;
  }

  .container{
    width: 200;
  }

 #Canvas
  {
    width: 400;
  }

  .control{
    width: 400;
  }
}






.introduction{

    border-radius:10px;
    box-shadow: 0px 5px 20px rgb(61, 34, 34);
    margin:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    width: 600px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    
}

.value{

  border-radius:10px;
  box-shadow: 0px 5px 20px rgb(61, 34, 34);
  margin:20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  align-items: center;
  width: 600px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}

p {
    position: relative;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 5px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 5s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }

  h1
  {
    font-size: 20px;
    font-weight: normal;
  }
  

.subscribe
{
    display: block;
    margin-top: 0em;
}

form {
  text-align: center;
}


.center
{

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* container for image effect */
.container 
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}



/*  R G B control */
.control
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;

}


@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.snip1104 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.snip1104 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

figure.snip1104 img {
  max-width: 100%;
  position: relative;
  opacity: 0.4;
}

figure.snip1104 figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

figure.snip1104 h2 {
  position: absolute;
  left: 40px;
  right: 40px;
  display: inline-block;
  background: #000000;
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  padding: 12px 5px;
  margin: 0;
  top: 50%;
  text-transform: uppercase;
  font-weight: 400;
}

figure.snip1104 h2 span {
  font-weight: 800;
}

figure.snip1104:before {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: '';
  background: #ffffff;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(110deg) translateY(-50%);
  transform: rotate(110deg) translateY(-50%);
}

figure.snip1104 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.snip1104.blue {
  background: #123851;
}

figure.snip1104.blue h2 {
  background: #0a212f;
}

figure.snip1104.red {
  background: #581a14;
}

figure.snip1104.red h2 {
  background: #36100c;
}

figure.snip1104.yellow {
  background: #7f5006;
}

figure.snip1104.yellow h2 {
  background: #583804;
}

figure.snip1104:hover img,
figure.snip1104.hover img {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.snip1104:hover h2,
figure.snip1104.hover h2 {
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
}

figure.snip1104:hover:before,
figure.snip1104.hover:before {
  -webkit-transform: rotate(110deg) translateY(-150%);
  transform: rotate(110deg)
}

.center-img
{
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin: 0;
  height: 100%;

}

  
  #formbutton:hover {
  
  background: #83241e;
  
  color: #fff;
  
  border: 1px solid #eee;
  
  border-radius: 0px;

  }

  #clearbutton:hover{
    background: #83241e;
  
    color: #fff;
    
    border: 1px solid #eee;
    
    border-radius: 0px;

  }
  
  fieldset {
    background-color: #eeeeee;
  }
  
  legend {
    background-color: gray;
    color: white;
    padding: 3px 10px;
    flex-direction: column;
    justify-content: space-around;
  }
  
  input {
    margin: 5px;
   
  }

